@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

:root {
  
  /* Text colors */
  --color-text-dark: #1F2937;
  --color-text-light: #6B7280;

  /* Backgrounds */
  --color-bg-light: #F9FAFB;
  --color-bg-card: #FFFFFF;

  /* Borders */
  --color-border: #E5E7EB;

  --color-button-bg: #3B82F6;
}



body {
  font-family: 'Interr', sans-serif;
  font-weight: 400;
  color: var(--color-text-dark);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


