

.add-info-element {
    display:flex;
    justify-content: space-between;
    padding: 0.5rem;
    border-bottom: 1px solid var(--color-border);
}
.add-info-element-check {
    color: #28a745;
}

.status-indicator.question {
    color: #6c757d;
}

.add-info-element-cross {
    color: #dc3545;
}