.FuneralItem {
  background-color: #d82ba4;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: lighter;
  color: #36403418;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#aksel {
  background-color: #a02e2eb9;
}
