.FuneralItem {
  display: flex;
  flex-direction: row;
}

.price-button {
  background-color: #2ea02eb9;
}

.add-info {
  justify-content: start;
  list-style: none;
  display: flex;
}

.left-side {
  flex: 0.7;
}
.right-side {
  display: flex;
  flex: 0.3;
}

.price-button {
  display: flex;
  height: 50%;
  width: 80%;
}