.App-Header {
  display: flex; 
  flex-direction: column;
  justify-content: flex-start;
  border-bottom: 1px solid #eaeaea;
  padding: 1rem 2rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  gap: 0rem;
}



.App-Header h1 {
  font-weight: 500;
  margin: inherit;
}
.App-Header p {
  margin: inherit;
}