.ThePitch { 
  display: flex; 
  flex-direction: column;
  min-height: 100%;
  background-color: white
}


input.search-bar {
  border: 1px solid #e6e6e6;
  font-size: 1rem;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

