.ThePitch { 
  display: flex;
  text-align: center;
  flex-direction: column;
  min-height: 100%;
  border-radius: 8px;
  padding: 1.5rem;
  background-color: var(--color-bg-card);
}


.search-bar {
  border: 1px solid #e6e6e6;
  background-color: var(--color-bg-card);
  font-size: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  padding: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
  margin: 1rem 0;
  width: clamp(320px, 30vw, 1200px);
  align-self: center;
}


.search-button {
  width: clamp(320px, 30vw, 1200px);
  align-self: center;
}